body{
    margin: 0;
    background: rgb(2,183,255);
    background: linear-gradient(0deg, rgba(2,183,255,1) 2%, rgba(30,130,255,1) 23%, rgba(0,104,255,0.9304096638655462) 77%, rgba(8,111,255,1) 100%);
    height: auto;
}
.ikon{

    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.ikon img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}
.tel{
    border-radius: 5px;
    max-width: 337px;
}
.tt{
    border-radius: 50%;
}
.whats{
    width: 100px ;
    height: 100px;
    border-radius: 5px;
    padding: 25px;
    margin: 5px;
}
.wh{
    background: rgb(84,227,134);
    background: radial-gradient(circle, rgba(84,227,134,1) 0%, rgba(15,191,139,1) 100%);
}
.icn{
    font-size: 60px;
    color: white;
}
.bl{
    background: rgb(84,113,227);
    background: radial-gradient(circle, rgba(84,113,227,1) 0%, rgba(26,15,191,1) 100%);
}
.ph{
    background: rgb(86,84,227);
    background: radial-gradient(circle, rgba(86,84,227,1) 0%, rgba(15,191,183,1) 100%);
}
.icc{
    display: flex;
    flex-wrap: wrap;
    width: 330px;
    margin: 0 auto;
}
@media screen and (max-width:520px){
    .dd{
        display: none;
    }
}